.container {
    width: 1320px;
}
.container-xxl {
    width: 1320px;
}

.col-xxl {
    flex: 1 0 0%;
}

.row-cols-xxl-1>* {
    flex: 0 0 auto;
    width: 100%;
}
.row-cols-xxl-2>* {
    flex: 0 0 auto;
    width: 50%;
}
.row-cols-xxl-3>* {
    flex: 0 0 auto;
    width: 33.3333%;
}
.row-cols-xxl-4>* {
    flex: 0 0 auto;
    width: 25%;
}
.row-cols-xxl-5>* {
    flex: 0 0 auto;
    width: 20%;
}
.row-cols-xxl-6>* {
    flex: 0 0 auto;
    width: 16.6666%;
}
.row-cols-xxl-7>* {
    flex: 0 0 auto;
    width: 14.2857%;
}
.row-cols-xxl-8>* {
    flex: 0 0 auto;
    width: 12.5%;
}
.row-cols-xxl-9>* {
    flex: 0 0 auto;
    width: 11.1111%;
}
.row-cols-xxl-10>* {
    flex: 0 0 auto;
    width: 10%;
}
.row-cols-xxl-11>* {
    flex: 0 0 auto;
    width: 9.0909%;
}
.row-cols-xxl-12>* {
    flex: 0 0 auto;
    width: 8.3333%;
}
.row-cols-xxl-24>* {
    flex: 0 0 auto;
    width: 4.1666%;
}

.col-xxl-1 {
    flex: 0 0 auto;
    width: 100%;
}
.col-xxl-1-1 {
    flex: 0 0 auto;
    width: 100%;
}

.col-xxl-1-2 {
    flex: 0 0 auto;
    width: 50%;
}
.col-xxl-2-2 {
    flex: 0 0 auto;
    width: 10%;
}

.col-xxl-1-3 {
    flex: 0 0 auto;
    width: 33.3333%;
}
.col-xxl-2-3 {
    flex: 0 0 auto;
    width: 66.6666%;
}
.col-xxl-3-3 {
    flex: 0 0 auto;
    width: 100%;
}

.col-xxl-1-4 {
    flex: 0 0 auto;
    width: 25%;
}
.col-xxl-2-4 {
    flex: 0 0 auto;
    width: 50%;
}
.col-xxl-3-4 {
    flex: 0 0 auto;
    width: 75%;
}
.col-xxl-4-4 {
    flex: 0 0 auto;
    width: 100%;
}

.col-xxl-1-5 {
    flex: 0 0 auto;
    width: 20%;
}
.col-xxl-2-5 {
    flex: 0 0 auto;
    width: 40%;
}
.col-xxl-3-5 {
    flex: 0 0 auto;
    width: 60%;
}
.col-xxl-4-5 {
    flex: 0 0 auto;
    width: 80%;
}
.col-xxl-5-5 {
    flex: 0 0 auto;
    width: 100%;
}

.col-xxl-1-6 {
    flex: 0 0 auto;
    width: 16.6666%;
}
.col-xxl-2-6 {
    flex: 0 0 auto;
    width: 33.3333%;
}
.col-xxl-3-6 {
    flex: 0 0 auto;
    width: 50%;
}
.col-xxl-4-6 {
    flex: 0 0 auto;
    width: 66.6666%;
}
.col-xxl-5-6 {
    flex: 0 0 auto;
    width: 83.3333%;
}
.col-xxl-6-6 {
    flex: 0 0 auto;
    width: 100%;
}

.col-xxl-1-7 {
    flex: 0 0 auto;
    width: 14.2857%;
}
.col-xxl-2-7 {
    flex: 0 0 auto;
    width: 28.5714%;
}
.col-xxl-3-7 {
    flex: 0 0 auto;
    width: 42.8571%;
}
.col-xxl-4-7 {
    flex: 0 0 auto;
    width: 67.1428%;
}
.col-xxl-5-7 {
    flex: 0 0 auto;
    width: 71.4285%;
}
.col-xxl-6-7 {
    flex: 0 0 auto;
    width: 85.7142%;
}
.col-xxl-7-7 {
    flex: 0 0 auto;
    width: 100%;
}

.col-xxl-1-8 {
    flex: 0 0 auto;
    width: 12.5%;
}
.col-xxl-2-8 {
    flex: 0 0 auto;
    width: 25%;
}
.col-xxl-3-8 {
    flex: 0 0 auto;
    width: 37.5%;
}
.col-xxl-4-8 {
    flex: 0 0 auto;
    width: 50%;
}
.col-xxl-5-8 {
    flex: 0 0 auto;
    width: 62.5%;
}
.col-xxl-6-8 {
    flex: 0 0 auto;
    width: 75%;
}
.col-xxl-7-8 {
    flex: 0 0 auto;
    width: 87.5%;
}
.col-xxl-8-8 {
    flex: 0 0 auto;
    width: 100%;
}

.col-xxl-1-9 {
    flex: 0 0 auto;
    width: 11.1111%;
}
.col-xxl-2-9 {
    flex: 0 0 auto;
    width: 22.2222%;
}
.col-xxl-3-9 {
    flex: 0 0 auto;
    width: 33.3333%;
}
.col-xxl-4-9 {
    flex: 0 0 auto;
    width: 44.4444%;
}
.col-xxl-5-9 {
    flex: 0 0 auto;
    width: 55.5555%;
}
.col-xxl-6-9 {
    flex: 0 0 auto;
    width: 66.6666%;
}
.col-xxl-7-9 {
    flex: 0 0 auto;
    width: 77.7777%;
}
.col-xxl-8-9 {
    flex: 0 0 auto;
    width: 88.8888%;
}
.col-xxl-9-9 {
    flex: 0 0 auto;
    width: 100%;
}

.col-xxl-1-10 {
    flex: 0 0 auto;
    width: 10%;
}
.col-xxl-2-10 {
    flex: 0 0 auto;
    width: 20%;
}
.col-xxl-3-10 {
    flex: 0 0 auto;
    width: 30%;
}
.col-xxl-4-10 {
    flex: 0 0 auto;
    width: 40%;
}
.col-xxl-5-10 {
    flex: 0 0 auto;
    width: 50%;
}
.col-xxl-6-10 {
    flex: 0 0 auto;
    width: 60%;
}
.col-xxl-7-10 {
    flex: 0 0 auto;
    width: 70%;
}
.col-xxl-8-10 {
    flex: 0 0 auto;
    width: 80%;
}
.col-xxl-9-10 {
    flex: 0 0 auto;
    width: 90%;
}
.col-xxl-10-10 {
    flex: 0 0 auto;
    width: 100%;
}

.col-xxl-1-11 {
    flex: 0 0 auto;
    width: 9.0909%;
}
.col-xxl-2-11 {
    flex: 0 0 auto;
    width: 18.1818%;
}
.col-xxl-3-11 {
    flex: 0 0 auto;
    width: 27.2727%;
}
.col-xxl-4-11 {
    flex: 0 0 auto;
    width: 36.3636%;
}
.col-xxl-5-11 {
    flex: 0 0 auto;
    width: 45.4545%;
}
.col-xxl-6-11 {
    flex: 0 0 auto;
    width: 54.5454%;
}
.col-xxl-7-11 {
    flex: 0 0 auto;
    width: 63.6363%;
}
.col-xxl-8-11 {
    flex: 0 0 auto;
    width: 72.7272%;
}
.col-xxl-9-11 {
    flex: 0 0 auto;
    width: 81.8181%;
}
.col-xxl-10-11 {
    flex: 0 0 auto;
    width: 90.9090%;
}
.col-xxl-11-11 {
    flex: 0 0 auto;
    width: 100%;
}

.col-xxl-1-12 {
    flex: 0 0 auto;
    width: 8.3333%;
}
.col-xxl-2-12 {
    flex: 0 0 auto;
    width: 16.6666%;
}
.col-xxl-3-12 {
    flex: 0 0 auto;
    width: 25%;
}
.col-xxl-4-12 {
    flex: 0 0 auto;
    width: 33.3333%;
}
.col-xxl-5-12 {
    flex: 0 0 auto;
    width: 41.6666%;
}
.col-xxl-6-12 {
    flex: 0 0 auto;
    width: 50%;
}
.col-xxl-7-12 {
    flex: 0 0 auto;
    width: 58.3333%;
}
.col-xxl-8-12 {
    flex: 0 0 auto;
    width: 66.6666%;
}
.col-xxl-9-12 {
    flex: 0 0 auto;
    width: 75%;
}
.col-xxl-10-12 {
    flex: 0 0 auto;
    width: 83.3333%;
}
.col-xxl-11-12 {
    flex: 0 0 auto;
    width: 91.6666%;
}
.col-xxl-12-12 {
    flex: 0 0 auto;
    width: 100%;
}

.col-xxl-1-24 {
    flex: 0 0 auto;
    width: 4.1666%;
}
.col-xxl-2-24 {
    flex: 0 0 auto;
    width: 8.3333%;
}
.col-xxl-3-24 {
    flex: 0 0 auto;
    width: 12.5%;
}
.col-xxl-4-24 {
    flex: 0 0 auto;
    width: 16.6666%;
}
.col-xxl-5-24 {
    flex: 0 0 auto;
    width: 20.8333%;
}
.col-xxl-6-24 {
    flex: 0 0 auto;
    width: 25%;
}
.col-xxl-7-24 {
    flex: 0 0 auto;
    width: 29.1666%;
}
.col-xxl-8-24 {
    flex: 0 0 auto;
    width: 33.3333%;
}
.col-xxl-9-24 {
    flex: 0 0 auto;
    width: 37.5%;
}
.col-xxl-10-24 {
    flex: 0 0 auto;
    width: 41.6666%;
}
.col-xxl-11-24 {
    flex: 0 0 auto;
    width: 45.8333%;
}
.col-xxl-12-24 {
    flex: 0 0 auto;
    width: 50%;
}
.col-xxl-13-24 {
    flex: 0 0 auto;
    width: 54.1666%;
}
.col-xxl-14-24 {
    flex: 0 0 auto;
    width: 58.3333%;
}
.col-xxl-15-24 {
    flex: 0 0 auto;
    width: 62.5%;
}
.col-xxl-16-24 {
    flex: 0 0 auto;
    width: 66.6666%;
}
.col-xxl-17-24 {
    flex: 0 0 auto;
    width: 70.8333%;
}
.col-xxl-18-24 {
    flex: 0 0 auto;
    width: 75%;
}
.col-xxl-19-24 {
    flex: 0 0 auto;
    width: 79.1666%;
}
.col-xxl-20-24 {
    flex: 0 0 auto;
    width: 83.3333%;
}
.col-xxl-21-24 {
    flex: 0 0 auto;
    width: 87.5%;
}
.col-xxl-22-24 {
    flex: 0 0 auto;
    width: 91.6666%;
}
.col-xxl-23-24 {
    flex: 0 0 auto;
    width: 95.8333%;
}
.col-xxl-24-24 {
    flex: 0 0 auto;
    width: 100%;
}

.g-xxl-0 {
    --rs-gutter-hx: 0;
    --rs-gutter-nhx: 0;
    --rs-gutter-hy: 0;
    --rs-gutter-nhy: 0;
}
.g-xxl-1 {
    --rs-gutter-hx: 2px;
    --rs-gutter-nhx: -2px;
    --rs-gutter-hy: 2px;
    --rs-gutter-nhy: -2px;
}
.g-xxl-2 {
    --rs-gutter-hx: 4px;
    --rs-gutter-nhx: -4px;
    --rs-gutter-hy: 4px;
    --rs-gutter-nhy: -4px;
}
.g-xxl-3 {
    --rs-gutter-hx: 8px;
    --rs-gutter-nhx: -8px;
    --rs-gutter-hy: 8px;
    --rs-gutter-nhy: -8px;
}
.g-xxl-4 {
    --rs-gutter-hx: 12px;
    --rs-gutter-nhx: -12px;
    --rs-gutter-hy: 12px;
    --rs-gutter-nhy: -12px;
}
.g-xxl-5 {
    --rs-gutter-hx: 24px;
    --rs-gutter-nhx: -24px;
    --rs-gutter-hy: 24px;
    --rs-gutter-nhy: -24px;
}
.gx-xxl-0 {
    --rs-gutter-hx: 0;
    --rs-gutter-nhx: 0;
}
.gx-xxl-1 {
    --rs-gutter-hx: 2px;
    --rs-gutter-nhx: -2px;
}
.gx-xxl-2 {
    --rs-gutter-hx: 4px;
    --rs-gutter-nhx: -4px;
}
.gx-xxl-3 {
    --rs-gutter-hx: 8px;
    --rs-gutter-nhx: -8px;
}
.gx-xxl-4 {
    --rs-gutter-hx: 12px;
    --rs-gutter-nhx: -12px;
}
.gx-xxl-5 {
    --rs-gutter-hx: 24px;
    --rs-gutter-nhx: -24px;
}
.gy-xxl-0 {
    --rs-gutter-hy: 0;
    --rs-gutter-nhy: 0;
}
.gy-xxl-1 {
    --rs-gutter-hy: 2px;
    --rs-gutter-nhy: -2px;
}
.gy-xxl-2 {
    --rs-gutter-hy: 4px;
    --rs-gutter-nhy: -4px;
}
.gy-xxl-3 {
    --rs-gutter-hy: 8px;
    --rs-gutter-nhy: -8px;
}
.gy-xxl-4 {
    --rs-gutter-hy: 12px;
    --rs-gutter-nhy: -12px;
}
.gy-xxl-5 {
    --rs-gutter-hy: 24px;
    --rs-gutter-nhy: -24px;
}