.container {
    width: 720px;
}
.container-md {
    width: 720px;
}

.col-md {
    flex: 1 0 0%;
}

.row-cols-md-1>* {
    flex: 0 0 auto;
    width: 100%;
}
.row-cols-md-2>* {
    flex: 0 0 auto;
    width: 50%;
}
.row-cols-md-3>* {
    flex: 0 0 auto;
    width: 33.3333%;
}
.row-cols-md-4>* {
    flex: 0 0 auto;
    width: 25%;
}
.row-cols-md-5>* {
    flex: 0 0 auto;
    width: 20%;
}
.row-cols-md-6>* {
    flex: 0 0 auto;
    width: 16.6666%;
}
.row-cols-md-7>* {
    flex: 0 0 auto;
    width: 14.2857%;
}
.row-cols-md-8>* {
    flex: 0 0 auto;
    width: 12.5%;
}
.row-cols-md-9>* {
    flex: 0 0 auto;
    width: 11.1111%;
}
.row-cols-md-10>* {
    flex: 0 0 auto;
    width: 10%;
}
.row-cols-md-11>* {
    flex: 0 0 auto;
    width: 9.0909%;
}
.row-cols-md-12>* {
    flex: 0 0 auto;
    width: 8.3333%;
}
.row-cols-md-24>* {
    flex: 0 0 auto;
    width: 4.1666%;
}

.col-md-1 {
    flex: 0 0 auto;
    width: 100%;
}
.col-md-1-1 {
    flex: 0 0 auto;
    width: 100%;
}

.col-md-1-2 {
    flex: 0 0 auto;
    width: 50%;
}
.col-md-2-2 {
    flex: 0 0 auto;
    width: 10%;
}

.col-md-1-3 {
    flex: 0 0 auto;
    width: 33.3333%;
}
.col-md-2-3 {
    flex: 0 0 auto;
    width: 66.6666%;
}
.col-md-3-3 {
    flex: 0 0 auto;
    width: 100%;
}

.col-md-1-4 {
    flex: 0 0 auto;
    width: 25%;
}
.col-md-2-4 {
    flex: 0 0 auto;
    width: 50%;
}
.col-md-3-4 {
    flex: 0 0 auto;
    width: 75%;
}
.col-md-4-4 {
    flex: 0 0 auto;
    width: 100%;
}

.col-md-1-5 {
    flex: 0 0 auto;
    width: 20%;
}
.col-md-2-5 {
    flex: 0 0 auto;
    width: 40%;
}
.col-md-3-5 {
    flex: 0 0 auto;
    width: 60%;
}
.col-md-4-5 {
    flex: 0 0 auto;
    width: 80%;
}
.col-md-5-5 {
    flex: 0 0 auto;
    width: 100%;
}

.col-md-1-6 {
    flex: 0 0 auto;
    width: 16.6666%;
}
.col-md-2-6 {
    flex: 0 0 auto;
    width: 33.3333%;
}
.col-md-3-6 {
    flex: 0 0 auto;
    width: 50%;
}
.col-md-4-6 {
    flex: 0 0 auto;
    width: 66.6666%;
}
.col-md-5-6 {
    flex: 0 0 auto;
    width: 83.3333%;
}
.col-md-6-6 {
    flex: 0 0 auto;
    width: 100%;
}

.col-md-1-7 {
    flex: 0 0 auto;
    width: 14.2857%;
}
.col-md-2-7 {
    flex: 0 0 auto;
    width: 28.5714%;
}
.col-md-3-7 {
    flex: 0 0 auto;
    width: 42.8571%;
}
.col-md-4-7 {
    flex: 0 0 auto;
    width: 67.1428%;
}
.col-md-5-7 {
    flex: 0 0 auto;
    width: 71.4285%;
}
.col-md-6-7 {
    flex: 0 0 auto;
    width: 85.7142%;
}
.col-md-7-7 {
    flex: 0 0 auto;
    width: 100%;
}

.col-md-1-8 {
    flex: 0 0 auto;
    width: 12.5%;
}
.col-md-2-8 {
    flex: 0 0 auto;
    width: 25%;
}
.col-md-3-8 {
    flex: 0 0 auto;
    width: 37.5%;
}
.col-md-4-8 {
    flex: 0 0 auto;
    width: 50%;
}
.col-md-5-8 {
    flex: 0 0 auto;
    width: 62.5%;
}
.col-md-6-8 {
    flex: 0 0 auto;
    width: 75%;
}
.col-md-7-8 {
    flex: 0 0 auto;
    width: 87.5%;
}
.col-md-8-8 {
    flex: 0 0 auto;
    width: 100%;
}

.col-md-1-9 {
    flex: 0 0 auto;
    width: 11.1111%;
}
.col-md-2-9 {
    flex: 0 0 auto;
    width: 22.2222%;
}
.col-md-3-9 {
    flex: 0 0 auto;
    width: 33.3333%;
}
.col-md-4-9 {
    flex: 0 0 auto;
    width: 44.4444%;
}
.col-md-5-9 {
    flex: 0 0 auto;
    width: 55.5555%;
}
.col-md-6-9 {
    flex: 0 0 auto;
    width: 66.6666%;
}
.col-md-7-9 {
    flex: 0 0 auto;
    width: 77.7777%;
}
.col-md-8-9 {
    flex: 0 0 auto;
    width: 88.8888%;
}
.col-md-9-9 {
    flex: 0 0 auto;
    width: 100%;
}

.col-md-1-10 {
    flex: 0 0 auto;
    width: 10%;
}
.col-md-2-10 {
    flex: 0 0 auto;
    width: 20%;
}
.col-md-3-10 {
    flex: 0 0 auto;
    width: 30%;
}
.col-md-4-10 {
    flex: 0 0 auto;
    width: 40%;
}
.col-md-5-10 {
    flex: 0 0 auto;
    width: 50%;
}
.col-md-6-10 {
    flex: 0 0 auto;
    width: 60%;
}
.col-md-7-10 {
    flex: 0 0 auto;
    width: 70%;
}
.col-md-8-10 {
    flex: 0 0 auto;
    width: 80%;
}
.col-md-9-10 {
    flex: 0 0 auto;
    width: 90%;
}
.col-md-10-10 {
    flex: 0 0 auto;
    width: 100%;
}

.col-md-1-11 {
    flex: 0 0 auto;
    width: 9.0909%;
}
.col-md-2-11 {
    flex: 0 0 auto;
    width: 18.1818%;
}
.col-md-3-11 {
    flex: 0 0 auto;
    width: 27.2727%;
}
.col-md-4-11 {
    flex: 0 0 auto;
    width: 36.3636%;
}
.col-md-5-11 {
    flex: 0 0 auto;
    width: 45.4545%;
}
.col-md-6-11 {
    flex: 0 0 auto;
    width: 54.5454%;
}
.col-md-7-11 {
    flex: 0 0 auto;
    width: 63.6363%;
}
.col-md-8-11 {
    flex: 0 0 auto;
    width: 72.7272%;
}
.col-md-9-11 {
    flex: 0 0 auto;
    width: 81.8181%;
}
.col-md-10-11 {
    flex: 0 0 auto;
    width: 90.9090%;
}
.col-md-11-11 {
    flex: 0 0 auto;
    width: 100%;
}

.col-md-1-12 {
    flex: 0 0 auto;
    width: 8.3333%;
}
.col-md-2-12 {
    flex: 0 0 auto;
    width: 16.6666%;
}
.col-md-3-12 {
    flex: 0 0 auto;
    width: 25%;
}
.col-md-4-12 {
    flex: 0 0 auto;
    width: 33.3333%;
}
.col-md-5-12 {
    flex: 0 0 auto;
    width: 41.6666%;
}
.col-md-6-12 {
    flex: 0 0 auto;
    width: 50%;
}
.col-md-7-12 {
    flex: 0 0 auto;
    width: 58.3333%;
}
.col-md-8-12 {
    flex: 0 0 auto;
    width: 66.6666%;
}
.col-md-9-12 {
    flex: 0 0 auto;
    width: 75%;
}
.col-md-10-12 {
    flex: 0 0 auto;
    width: 83.3333%;
}
.col-md-11-12 {
    flex: 0 0 auto;
    width: 91.6666%;
}
.col-md-12-12 {
    flex: 0 0 auto;
    width: 100%;
}

.col-md-1-24 {
    flex: 0 0 auto;
    width: 4.1666%;
}
.col-md-2-24 {
    flex: 0 0 auto;
    width: 8.3333%;
}
.col-md-3-24 {
    flex: 0 0 auto;
    width: 12.5%;
}
.col-md-4-24 {
    flex: 0 0 auto;
    width: 16.6666%;
}
.col-md-5-24 {
    flex: 0 0 auto;
    width: 20.8333%;
}
.col-md-6-24 {
    flex: 0 0 auto;
    width: 25%;
}
.col-md-7-24 {
    flex: 0 0 auto;
    width: 29.1666%;
}
.col-md-8-24 {
    flex: 0 0 auto;
    width: 33.3333%;
}
.col-md-9-24 {
    flex: 0 0 auto;
    width: 37.5%;
}
.col-md-10-24 {
    flex: 0 0 auto;
    width: 41.6666%;
}
.col-md-11-24 {
    flex: 0 0 auto;
    width: 45.8333%;
}
.col-md-12-24 {
    flex: 0 0 auto;
    width: 50%;
}
.col-md-13-24 {
    flex: 0 0 auto;
    width: 54.1666%;
}
.col-md-14-24 {
    flex: 0 0 auto;
    width: 58.3333%;
}
.col-md-15-24 {
    flex: 0 0 auto;
    width: 62.5%;
}
.col-md-16-24 {
    flex: 0 0 auto;
    width: 66.6666%;
}
.col-md-17-24 {
    flex: 0 0 auto;
    width: 70.8333%;
}
.col-md-18-24 {
    flex: 0 0 auto;
    width: 75%;
}
.col-md-19-24 {
    flex: 0 0 auto;
    width: 79.1666%;
}
.col-md-20-24 {
    flex: 0 0 auto;
    width: 83.3333%;
}
.col-md-21-24 {
    flex: 0 0 auto;
    width: 87.5%;
}
.col-md-22-24 {
    flex: 0 0 auto;
    width: 91.6666%;
}
.col-md-23-24 {
    flex: 0 0 auto;
    width: 95.8333%;
}
.col-md-24-24 {
    flex: 0 0 auto;
    width: 100%;
}

.g-md-0 {
    --rs-gutter-x: 0px;
    --rs-half-gutter-x: 0px;
    --rs-neg-gutter-x: 0px;
    --rs-gutter-y: 0px;
    --rs-half-gutter-y: 0px;
    --rs-neg-gutter-y: 0px;
}
.g-md-1 {
    --rs-gutter-x: 4px;
    --rs-half-gutter-x: 2px;
    --rs-neg-gutter-x: -4px;
    --rs-gutter-y: 4px;
    --rs-half-gutter-y: 2px;
    --rs-neg-gutter-y: -4px;
}
.g-md-2 {
    --rs-gutter-x: 8px;
    --rs-half-gutter-x: 4px;
    --rs-neg-gutter-x: -8px;
    --rs-gutter-y: 8px;
    --rs-half-gutter-y: 4px;
    --rs-neg-gutter-y: -8px;
}
.g-md-3 {
    --rs-gutter-x: 16px;
    --rs-half-gutter-x: 8px;
    --rs-neg-gutter-x: -16px;
    --rs-gutter-y: 16px;
    --rs-half-gutter-y: 8px;
    --rs-neg-gutter-y: -16px;
}
.g-md-4 {
    --rs-gutter-x: 24px;
    --rs-half-gutter-x: 12px;
    --rs-neg-gutter-x: -24px;
    --rs-gutter-y: 24px;
    --rs-half-gutter-y: 12px;
    --rs-neg-gutter-y: -24px;
}
.g-md-5 {
    --rs-gutter-x: 48px;
    --rs-half-gutter-x: 24px;
    --rs-neg-gutter-x: -48px;
    --rs-gutter-y: 48px;
    --rs-half-gutter-y: 24px;
    --rs-neg-gutter-y: -48px;
}
.gx-md-0 {
    --rs-gutter-x: 0px;
    --rs-half-gutter-x: 0px;
    --rs-neg-gutter-x: 0px;
}
.gx-md-1 {
    --rs-gutter-x: 4px;
    --rs-half-gutter-x: 2px;
    --rs-neg-gutter-x: -4px;
}
.gx-md-2 {
    --rs-gutter-x: 8px;
    --rs-half-gutter-x: 4px;
    --rs-neg-gutter-x: -8px;
}
.gx-md-3 {
    --rs-gutter-x: 16px;
    --rs-half-gutter-x: 8px;
    --rs-neg-gutter-x: -16px;
}
.gx-md-4 {
    --rs-gutter-x: 24px;
    --rs-half-gutter-x: 12px;
    --rs-neg-gutter-x: -24px;
}
.gx-md-5 {
    --rs-gutter-x: 48px;
    --rs-half-gutter-x: 24px;
    --rs-neg-gutter-x: -48px;
}
.gy-md-0 {
    --rs-gutter-y: 0px;
    --rs-half-gutter-y: 0px;
    --rs-neg-gutter-y: 0px;
}
.gy-md-1 {
    --rs-gutter-y: 4px;
    --rs-half-gutter-y: 2px;
    --rs-neg-gutter-y: -4px;
}
.gy-md-2 {
    --rs-gutter-y: 8px;
    --rs-half-gutter-y: 4px;
    --rs-neg-gutter-y: -8px;
}
.gy-md-3 {
    --rs-gutter-y: 16px;
    --rs-half-gutter-y: 8px;
    --rs-neg-gutter-y: -16px;
}
.gy-md-4 {
    --rs-gutter-y: 24px;
    --rs-half-gutter-y: 12px;
    --rs-neg-gutter-y: -24px;
}
.gy-md-5 {
    --rs-gutter-y: 48px;
    --rs-half-gutter-y: 24px;
    --rs-neg-gutter-y: -48px;
}