.simple-tooltip {
    position: absolute;
    left: 50%;
    top: 0;
    translate: -50% -100% 0;
    padding: var(--rs-spacer-1);
    margin: var(--rs-spacer-1);
    background-color: var(--rs-light)!important;
    color: var(--rs-dark)!important;
    border-radius: var(--rs-border-radius-2)!important;
}